* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: rgb(70,24,172);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    padding-right: 1rem;
}

header input {
    /* padding: 1.2rem 9rem; */
    padding-left: 1rem;
    width: 460px;
    /* min-width: 10vh; */
    height: 55px;
    background-color: rgb(70,24,172);
    border: 1px solid white;
    outline: none;

}

::placeholder {
    color: rgb(184, 184, 184);
    font-size: 1.3rem;
    font-weight: 500;
}

.logo{
    width: 220px;
    height: auto;
}

.flag {
    width: 18px;
    height: 18px;
    border-radius: 22px;
}

.language {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.header-icons {
    display: flex;
    gap: 1rem;
}

.burger-button {
    display: none;
    width: 22px;
}

.header-icons img {
    width: 22px;
}

.search {
    display: none;
}

header button {
    background-color: rgb(250,211,24);
    padding: 0.6rem 1rem;
    border: none;
    font-weight: bold;
}

.logo-wrapper {
    display: flex;
}

nav img {
    width: 22px;
}

nav {
    background-color: rgb(52,18,129);
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    color: rgb(235, 235, 235);
    font-weight: 500;
}

.nav-burger {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media only screen and (max-width: 930px) {
    .logo {
        width: 160px;
    }

    nav {
        display: none;
    }

    header input {
        display: none;
    }
    .language {
        display: none;
    }

    header button {
        display: none;
    }

    header {
        justify-content: space-between;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .login {
        display: none;
    }

    .search {
        display: inline-block;
    }

    .burger-button {
        display: inline-block;
    }
}